.gallery-thumbnails-text-top .primary {clear:both;}

.gallery-thumbnails-text-top .secondary {overflow:hidden;}
.gallery-thumbnails-text-top .secondary .exhibit-item {display:block; float:left; width:170px; height:170px; padding-top:18px; margin-right:18px; margin-bottom: 18px;}