.jcarousel ul {
    overflow: hidden;
}

.jcarousel li {
    text-align: center;
}

.jcarousel .exhibit-item-link {
    display: inline-block;
}

.layout-carousel a {
    border-bottom: 0;
    text-align: center;
}

.text-float .slide-meta {
    margin-top: 1rem;
}

.text-overlay .slide-meta {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-overlay .slide-meta > * {
    background-color: #fff;
    padding: .25rem;
}

.layout-carousel .exhibit-item-caption p {
    clear: both;
}

.layout-carousel .captions-center .exhibit-item-caption,
.layout-carousel .captions-center p.slide-title a {
    text-align: center;
}

.layout-carousel .captions-left .exhibit-item-caption,
.layout-carousel .captions-left p.slide-title a {
    text-align: left;
}

.layout-carousel .captions-right .exhibit-item-caption,
.layout-carousel .captions-right p.slide-title a {
    text-align: right;
}
