{{ $params := .Page.Params }}
{{ $attachments := $params.attachments }}

{{ if $params.options.showcaseFile }}
{{ range first 1 $params.attachments }}
<div class="gallery-showcase {{ $params.options.showcasePosition }} with-{{ $params.options.galleryPosition }} captions-{{ $params.options.captionsPosition }}">
    {{ $linkResource := site.GetPage (printf "items/%s" (string .itemID)) }}
    {{ $imgResource := false }}
    {{ with .thumbnailSpec }}
        {{ if and (.page) (.resource) }}
            {{ $imgPage := site.GetPage (.page) }}
            {{ $imgResource = $imgPage.Resources.GetMatch "fullsize*" }}
        {{ else if (.resource) }}
            {{ $imgResource = resources.Get (.resource) }}
        {{ end }}
    {{ end }}
    <a class="download-file" href="{{ $linkResource.RelPermalink }}">
        {{ if $imgResource }}
        <img src="{{ $imgResource.RelPermalink }}" alt="">
        {{ else }}
        {{ .fileName }}
        {{ end }}
    </a>
</div>
{{ end }}
{{ $attachments = after 1 $attachments }}
{{ end }}

<div class="gallery {{ if or $params.options.showcaseFile $params.text }}with-showcase {{ $params.options.galleryPosition }}{{ end }} captions-{{ $params.options.captionsPosition }}">
{{ range $attachments }}
    {{ $linkResource := site.GetPage (printf "items/%s" (string .itemID)) }}
    {{ $imgResource := false }}
    {{ with .thumbnailSpec }}
        {{ if and (.page) (.resource) }}
            {{ $imgPage := site.GetPage (.page) }}
            {{ $imgResource = $imgPage.Resources.GetMatch (printf "%s*" .resource) }}
        {{ else if (.resource) }}
            {{ $imgResource = resources.Get (.resource) }}
        {{ end }}
    {{ end }}
    <div class="exhibit-item exhibit-gallery-item">
        <a href="{{ $linkResource.RelPermalink }}" class="exhibit-item-link">
            {{ if $imgResource }}
            <img src="{{ $imgResource.RelPermalink }}" alt="">
            {{ else }}
            {{ .fileName }}
            {{ end }}
        </a>
    </div>
{{ end }}
</div>
{{ $params.text | safeHTML }}
