.delete-page {
    background-position: 12px 50%;
    padding-left: 32px;
    background-repeat: no-repeat;
    text-decoration: none;
    background-image:url("../../../../../application/views/scripts/images/silk-icons/delete.png");
}

#reorder-instructions {
    font-size:11px;color: #888;
}

.page-list .layout-name {
    display:none;
}

.page-list li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.page-list {
    line-height:2em;
    padding:0;
    margin:1em 0;
    min-height:2em;
}

.page-list img {
    vertical-align: text-bottom;
}

.page-list li {
    display:block;
    padding:0;
    margin: 8px 0 8px 8px;
}

.page-list .jqtree-title {
    background-image:url("../../../../../application/views/scripts/images/silk-icons/page.png");
    background-repeat: no-repeat;
    background-position: 2px 50%;
    padding-left: 20px;
}

.page-actions {
    float: right;
}

/* Page Metadata */
#layouts .layout {
    display:block;
    float:left;
    text-align:center;
    border:1px solid #ccc;
    margin-right:18px;
    margin-bottom:18px;
    padding:6px 0;
    width:100px;
}

#page-form {
    clear: both;
}

#layout-all {
    width: auto;
    clear:both;
}

.item-select-outer {
    cursor:pointer;
    padding: 12px;
    border:1px dotted #eee;
    border-width: 0 0 1px;
    overflow:hidden;
    zoom:1;
}

.item-selected {
    background: #D2E5F4;
    border-width:0;
    border: 1px solid #8EBDE3;
}

.remove_item {
    position:absolute;
    top:0;
    right:0;
    z-index:10000;
    padding: 4px 8px;
    font-size:12px;
    font-weight:bold;
    background:#fff;
    color: #900 !important;
}

.textfield {
    clear:both;
}

.textfield textarea {
    width: 99%;
}

.item-file,
.caption-container {
    float:left;
    width: 48%;
}

.caption-container {
    float:right;
}

#layout-form label {
    display:none;
}

#page-search-form,
#page-search-form .textinput,
#page-submits {
    clear:both;
}

#page-search-form .textinput {
    overflow:hidden;
}

/* choose layout */

#layouts #layout-thumbs {
    width:512px;
}

#layouts .layout {
    cursor:pointer;
}

#layouts .layout input,
#layout-thumbs .layout-name {
    display:none;
}

.current-layout {
    background:#A2C9E8;
    border:1px solid #6BA8DA;
}

#layout-form .primary, #layout-form .secondary {
    float:none;
    display:block;
    width:100%;
    overflow:hidden;
    clear:both;
}

#page-links input {
    background:#fff;
    color:#555;
    border:none;
}

#show-or-hide-search {
    display: block;
    padding:20px;
}

#page-form .exhibit-form-element {
    position:relative;
    padding:30px;
    background:#f0f0f0;
    margin-bottom:20px;
}

.exhibit-form-element-number {
    position:absolute;
    top:0;
    left: 0;
    background: #fff;
    padding:4px 8px;
    font-size:12px;
    font-weight:bold;
}
/* Delete Link Styles */


.item_id {
    display:none;
}

.attach-item-link {
    margin-bottom:0;
}
.attach-item-link .button {
    float:none !important;
    font-size: 90%;
}

#page-metadata-list {
    overflow:hidden; zoom:1;
    margin-bottom:20px;
    padding-bottom:19px;
    border-bottom:1px dotted #ccc;
}
#page-metadata-list img {
    float:left;
}

#page-metadata-list ul {
    margin-left: 100px;
}
button#page_metadata_form {
    float:none;
    margin-left: 20px;
}
