.text-image-right {overflow:hidden; zoom:1;}
.text-image-right .exhibit-item {
    float:right; 
    width: 48%; 
    margin-left:2%;
    margin-bottom:2%;
}

.exhibit-item img {
    max-width: 100%;
}