/* CSS for the gallery-full-left layout */

.primary,
.secondary {
    float:left; 
    width:49%;
    overflow:hidden;
    zoom:1;
}

.secondary {
    float:right; 
}

.gallery .exhibit-item {
    float:left; 
    margin-right:2%; 
    width: 48%;
}

.exhibit-item {
    margin-bottom:2%;
}

.exhibit-item img {
    max-width: 100%;
}