.layout-file-text .exhibit-items {
    margin-bottom: 2%;
    width: 40%;
}

.layout-file-text .exhibit-items .download-file {
    clear: both;
    border-bottom: 0;
    overflow: visible;
    margin-bottom: 1em;
}

.layout-file-text .exhibit-items.left .download-file {
    float: left;
}

.layout-file-text .exhibit-items.right .download-file {
    float: right;
}

.layout-file-text .exhibit-items.left {
    float: left;
    margin-right: 2%;
}

.layout-file-text .exhibit-items.right {
    float: right;
    margin-left: 2%;
}

.layout-file-text .exhibit-items img {
    max-width: 100%;
}

.layout-file-text .exhibit-item-caption p {
    margin: 0;
    clear: both;
}
