.image-list-right-thumbs .exhibit-item {overflow:hidden; width:auto;}
	.image-list-right-thumbs .item-title {font-size:1.2em; font-weight:bold;}
	.image-list-right-thumbs .exhibit-item img {float:right; margin-left:20px; margin-bottom:20px;}
