/* CSS for the image-list-right-thumbs layout */

.image-text-group {
    overflow:hidden;
    zoom:1;
}

.exhibit-item {
    float:right; 
    width: 23%;
    margin-bottom:2%;
}

.exhibit-item img {
    max-width:100%;
}

.exhibit-text {
    float:left;
    width: 73%;
}
