/* CSS for the gallery-full-right layout */

.primary,
.secondary {
    float:right; 
    width:49%;
    overflow:hidden;
    zoom:1;
}

.secondary {
    float:left; 
}

.gallery .exhibit-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
    width: 48%;
    /* IE 7 */
    *display: inline;
    zoom: 1;
}

.exhibit-item {
    margin-bottom:2%;
}

.exhibit-item img {
    max-width: 100%;
}

