.layout-gallery .gallery-aside {
    width: 40%;
    overflow: hidden;
}

.layout-gallery a {
    border-bottom: 0;
}

.layout-gallery img {
    width: 100%;
    margin-bottom: 2%;
}

.layout-gallery .exhibit-item {
    display: inline-block;
    vertical-align: top;
    width: 24%; 
    margin-right: 1.25%;
    margin-bottom: 1.25%;
}

.layout-gallery .exhibit-item:nth-child(4n) {
    margin-right: 0;
}

.layout-gallery .gallery-aside.left {
    float: left;
    margin-right: 2%;
}

.layout-gallery .gallery-aside.right {
    float: right;
    margin-left: 2%;
}

.layout-gallery .gallery-aside.center,
.layout-gallery .gallery.with-aside.center {
    width: 100%;
    margin: 0 auto;
}

.layout-gallery .gallery.with-aside {
    width: 40%;
    overflow: hidden;
}

.layout-gallery .gallery.with-aside.left {
    float: left;
    clear: left;
    margin-right: 2%;
}

.layout-gallery .gallery.with-aside.right {
    float: right;
    clear: right;
    margin-left: 2%;
}

.layout-gallery .gallery.with-aside img {
    max-width: 100%;
    margin-bottom: 2%;
}

.layout-gallery .exhibit-item-caption p {
    margin: 0 0 2% 0;
    clear: both;
}